@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

.my-list {
    list-style-type: none;
    text-align: right;
}

body{
    margin: 30px;
}

h3{
    text-align: center;
}

.panel-heading{
    text-align: left;
}

img{
	margin-right: 10px;
	width: 250px;
	height: 250px;
	border: 1px solid #ddd;
	object-fit: fill;
}

.img{
	margin-top: 30px;
    text-align: center;
}

img:last-child {
	margin-right: 0;
    }

.bd-example{
    display: inline-flex;
}

.form-check-label{
    margin: 7px;
}

a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}
a::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #2196F3;
	transition: all 0.3s ease 0s;
}
a:hover {
	cursor: pointer;
}
a:hover::after {
	width: 100%;
}

.company {
	color: powderblue;
}

.btn-primary {
	margin: 10px 10px 0 2px;
}